/* What is "Inheritance" in CSS? What is the "Cascade" in CSS? */
body {
	width: 100vw;
	height: 100vh;
}

.box {
	min-height: 33%;
	min-width: 100%;
}

.green {
	background-color: #60FF00;
	display: block;
}

.greenish {
	background-color: #3A9A00;
	display: block;
}

.yellow {
	background-color: #FBFF00;
	display: block;
}

.box2 {
	min-height: 77%;
	min-width: 9.80%;
	
}

.Dandelion {
	background-color: #60FF00;
	display: block;
}

.Dandelion2 {
	background-color: #00FF4A;
	display: block;
}

.blue {
	background-color: #00C4FF;
	display: block;
}

.bluish {
	background-color: #006989;
	display: block;
}

.purple {
	background-color: #AB00FF;
	display: block;
}

.scarlet {
	background-color: #6B0000;
	display: block;
}

.red {
	background-color: #B30000;
	display: block;
}

.reddish {
	background-color: #FF0000;
	display: block;
}

.orange {
	background-color: #FF5000;
	display: block;
}

.bright {
	background-color: #FFA000;
	display: block;
}